html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.container {
	@if $print {
		margin: 0;
	} @else {
		padding: 0 1em;
	}
}

$colophon-height: 40px;

.colophon {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	background-color: #fff;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	p {
		margin: 0;
		padding: 0;
		font-size: 12px;
		height: $colophon-height;
		line-height: $colophon-height;
		color: #444;
	}
	&-count {
		text-align: right;
		strong {
			margin-left: 1em;
		}
	}
	.ok {
		color: $success;
	}
	.ng {
		color: $danger;
	}
}

.story-content .container > * {
	max-width: var(--max-line-width, 100%);
}

.container.line-limited {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-line-length, unset);
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 20mm;
	margin-bottom: 20mm;
}
