img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container-toc,
.toggle {
  display: none;
}

@page {
  size: portrait;
  padding: 0;
  margin: 2cm 2cm 2.5cm;

  @top-center {
    content: "P and Q";
  }

  @bottom-center {
    content: "- " counter(page) " -";
    text-align: center;
    font-size: 9pt;
  }
}

.colophon {
  display: none;
}

// Body elements.
.story-content {
  font-size: 10.5pt;

  a {
    &:after {
      margin-left: 1mm;
      margin-right: 1mm;
      content: "<" attr(href) ">";
      font-family: $monospace;
      word-break: break-all;
      white-space: -moz-pre-wrap;
      color: $link-href-color;
    }
    &:link, &:visited {
      color: $link-color;
      text-decoration: none;
    }
    &:hover, &:active {
      text-decoration: underline;
      color: $link-color
    }
  }
}
